
<div class="container all-detail" id="print">
  <!-- <mat-card> -->
    <mat-card>
  <!-- <div class="table-responsive"> -->
<div class="animate__animated animate__backInDown" style="text-align: center;"><h2><b>JachGhar List</b></h2></div>
    <table class="table table-bordered tbl" *ngFor="let arr of s">
      <thead>

        <!-- *ngFor="let gachghar of gachgharlist; let id = index" -->
        <tr>

          <th scope="col" class="animate__animated animate__backInDown" >Name of the Patient</th>
            <td class="animate__animated animate__backInDown">{{arr.patientName}}</td>
          <th scope="col" class="animate__animated animate__backInDown" >Age</th>
            <td  class="animate__animated animate__backInDown">{{arr.age}}</td>

          </tr>
          <tr>
            <th  class="animate__animated animate__backInDown" scope="col" >Sex</th>
            <td  class="animate__animated animate__backInDown">{{arr.sex}}</td>

          <th class="animate__animated animate__backInDown" scope="col" >PID</th>
          <td  class="animate__animated animate__backInDown"></td>
           </tr>
        <tr>
          <th  class="animate__animated animate__backInDown">Date:</th>
          <td  class="animate__animated animate__backInDown">{{arr.date}}</td>

          <th  class="animate__animated animate__backInDown" scope="col" >Bill No/ LRN</th>
          <td  class="animate__animated animate__backInDown"colspan="3"></td>
        </tr>

        <tr>
          <th  class="animate__animated animate__backInDown" scope="col" >Recirived on</th>
          <td  class="animate__animated animate__backInDown"></td>
          <th scope="col" class="animate__animated animate__backInDown" >Refd. by Dr:-</th>
          <td colspan="3" class="animate__animated animate__backInDown">{{arr.dr}}</td>
        </tr>

      </thead>
      <tbody >
        <tr>
    </tbody>
  </table>
  <!-- for BloodGrouping -->
  <h3><ul>Blood Details</ul></h3>
<table  class="table table-bordered tbl">
  <thead >
    <tr *ngFor="let a of a|keyvalue">
      <th  class="animate__animated animate__backInDown">
<b>{{a.value}}</b>
      </th>
    <!-- </tr>
    <tr *ngFor="let a of s">
      <th >
{{a}}
      </th>
    </tr> -->
  </thead>
</table>

<!-- for urine Grouping -->
<h3><ul>Urine Details</ul></h3>
<table  class="table table-bordered tbl">
  <thead >
    <tr *ngFor="let a of b|keyvalue">
      <th class="animate__animated animate__backInDown" >
<b>{{a.value}}</b>
      </th>
    <!-- </tr>
    <tr *ngFor="let a of s">
      <th >
{{a}}
      </th>
    </tr> -->
  </thead>
</table>
<button type="button" class="btn btn-success" id="componentID" (click)='print()'>Print</button>

</mat-card>
</div>


