:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-sidenav {
  width: 300px;
  /* background-color: lightcoral; */
  /* background-color: transparent; */
  /* background-image: url('../../../assets/doc.jpg'); */
  /* opacity: 0.6; */

}
mat-sidenav-container{
height: 100%;
background-image: url('../../../assets/gachghar.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
.container-fixed{
  width: 100%;
  height: 100%;
}
mat-sidenav-content{
  padding: 20px;
}
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.sidebar{

  color:"white"
  background-color="orange"
}
