<!-- <div class="container-fixed"> -->
  <!-- <div class="main"> -->
    <!-- <div class="a" > -->

<app-header (togglesidebarForme)="SidebarToggle($event)" *ngIf="userIsAuthonticated" ></app-header>
<mat-sidenav-container *ngIf="userIsAuthonticated" >
  <mat-sidenav color="primary" [(opened)]="sidebarOpen">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
<!-- <app-footer></app-footer> -->
<!-- </div> -->
<!-- </div> -->
