<mat-nav-list >
  <div class="profile-card">
    <div class="header">
      <h2 class="animate__animated animate__heartBeat">JachGhar</h2>
      <h4 class="animate__animated animate__heartBeat">1234sadique1234@gmail.com</h4>
    </div>
    <img src="../../../../assets/medical-logo-png-13.jpg" alt="">
  </div>
  <mat-divider></mat-divider>
<h2 mat-subheader>Pages</h2>
<div class="container">
<!-- <div class="col-md-1"></div><div class="col-md-10" > -->

<a mat-list-item routerLinkActive="list-item-active" data-color="orange" class="animate__animated animate__heartBeat" routerLink="/" routerLinkActive="active">DashBoadard</a>
<a mat-list-item routerLinkActive="list-item-active" class="animate__animated animate__heartBeat" routerLink="/jachgharform" routerLinkActive="active" >JachGhar Form</a>
<a mat-list-item routerLinkActive="list-item-active" class="animate__animated animate__heartBeat" routerLink='/jachgharlist' routerLinkActive="active" >JachGhar List</a>
<!-- </div></div><div class="col-md-1"></div> --></div>
<mat-divider></mat-divider>
anothe menu
</mat-nav-list>
