<div class="container">
  <div class="container-fluid">
      <div class="row">
          <!-- <mat-spinner *ngIf="isLooding"></mat-spinner> -->

          <div class=" col-md-10 col-sm-12 col-md-offset-1">
              <mat-card >

                  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" >
                      <mat-form-field>
                          <input matInput type="email" name="email" ngModel #emailInput="ngModel" placeholder="E-mail"required email>
                          <mat-error *ngIf="emailInput.invalid">Please Enter a Valid Email</mat-error>
                      </mat-form-field>

                      <mat-form-field>
                          <input matInput type="password" name="password" ngModel #passwordInput="ngModel" placeholder=" Enter your password " required>
                          <mat-error *ngIf="passwordInput.invalid">Please Enter a content post</mat-error>
                      </mat-form-field>

                      <button class="btn btn-danger btn-round" fxLayout="center center"  type="submit()" >Signup</button>
                      <!-- <mat-spinner *ngIf="isLooding"></mat-spinner>   -->
                   </form>
              </mat-card>
          </div>
          <!-- <p>output{{helloWorld}}</p> -->
      </div>
  </div>
</div>
