 <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto ">
        <mat-card>
          <h1 class="EmployDesign "><b>JANCH GHAR FORM </b></h1>

        <form class="form" [formGroup]="JachGhar" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <div class="form-group">
              <input type="hidden" class="form-control" formControlName="ref" id="ref"  value=""  required>
            </div>
            <div class="form-group">
              <div class="row animate__backInRight">
                <div class="input-group col-md-2 col-xl-2 col-sm-12 " >
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Date</span>
                    <input type="date" class="form-control " formControlName="date" id="date" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
                  </div>
                </div>
              </div>
            </div>

          <div class="form-group" [ngClass]="{'has-error':JachGhar.get('patientName').errors && (JachGhar.get('patientName').touched ||JachGhar.get('patientName').dirty) }">
            <label for="patientName">Name of the Patient :- </label>
            <input type="text" class="form-control" id="patientName" formControlName="patientName" name="patientName" aria-describedby="nameHelp" >
            <span class="help-block" *ngIf="JachGhar.get('patientName').errors && (JachGhar.get('patientName').touched ||JachGhar.get('patientName').dirty)">
              <span class="text-danger" *ngIf="JachGhar.get('patientName').errors.required">
                               Please Enter PatientName
              </span>
            </span>
          </div>

          <div class="row">
            <div class="form-group col-md-12 col-sm-12" [ngClass]="{'has-error':JachGhar.get('age').errors && (JachGhar.get('age').touched ||JachGhar.get('age').dirty)}">
              <label for="name">Age :- </label>
              <input type="number" class="form-control" id="age" formControlName="age" aria-describedby="nameHelp" name="name" >
              <span class="help-block" *ngIf="JachGhar.get('age').errors && (JachGhar.get('age').touched ||JachGhar.get('age').dirty)">
                <span class="text-danger" *ngIf="JachGhar.get('age').errors.required">
                                    Please Enter Patient Age
                </span>
              </span>
            </div>

            <div class="form-group col-md-12"[ngClass]="{'has-error':JachGhar.get('sex').errors && (JachGhar.get('sex').touched ||JachGhar.get('sex').dirty)}">
              <label for="Grouping">Sex:-</label>
              <select (change)="changeSex($event)" class="form-control" formControlName="sex">
                <span class="help-block" *ngIf="JachGhar.get('sex').errors && (JachGhar.get('sex').touched ||JachGhar.get('sex').dirty)">
                  <span class="text-danger" *ngIf="JachGhar.get('sex').errors.required">
                                        Please Enter Patient Age
                  </span>
                </span>
                <option>Select Group</option>
                <option *ngFor ="let sex of Sex">
                  {{sex}}
                </option>
              </select>
            </div>
          </div>

        <div class="form-group">
          <label for="name">Refd. by Dr:-</label>
          <input type="text" class="form-control" id="position"formControlName="dr" aria-describedby="positionHelp" name="position">
        </div>




  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="BLOOD">
      <div formGroupName="blood">
        <div class="container">
          <div class="row">
            <h3 class="bloodgroup col-md-12">BLOOD GROUPING</h3>
            <div class="form-group col-md-12 col-sm-12 col-xl-12">
              <label for="Grouping" >Grouping :-</label>
              <select id="grouping" (change)="changegrouping($event)" FormControlName="grouping" class="form-control">
                <option>Select Group</option>
                <option [value]="group" *ngFor ="let group of Grouping">
                        {{group}}
                </option>
              </select>
            </div>

            <div class="form-group col-md-12 col-sm-12 col-xl-12">
              <label for="Grouping" >RH Type :-</label>
              <select id="grouping"(change)="rhtypes($event)" FormControlName="rhtype" class="form-control">
                <option>Select Group</option>
                <option [value]="RHtype" *ngFor ="let RHtype of Rhtype">
                  {{RHtype}}
                </option>
              </select>
            </div>

            <div class="form-group col-md-12 col-sm-12 col-xl-12">
              <label for="Grouping">Blood For V.D.R.L By Strip :- </label>
              <select id="grouping" (change)="vdrls($event)" FormControlName="vdrl" class="form-control">
                <option>Select Group</option>
                <option [value]="strip" *ngFor ="let strip of BloodForVDRLByStrip">
                    {{strip}}
                </option>
              </select>
            </div>

            <div class="form-group col-md-12 col-sm-12 col-xl-12">
              <label for="Grouping">Urine of Pregnancy Preg Strip :- </label>
              <select id="grouping" (change)="urins($event)" FormControlName="urine" class="form-control">
                <option>Select Group</option>
                <option [value]="urin" *ngFor ="let urin of BloodForVDRLByStrip">
                    {{urin}}
                </option>
              </select>
            </div>
          </div>

          <div class="text">
          <h4>Manotoux Test 5 T.U. / 10 T.U. by P.P.D.</h4>
          <h4>Result After 48 Hours.</h4>
          <h4>Zone of Induratioins .................................... in diameter with / withour Erythema and Oedema :-</h4>
          </div>

          <div class="row">
            <div class="form-group col-md-12 col-sm-12 col-xl-12">
              <label for="Grouping">HCV Test </label>
              <select id="hcv" (change)="hcvs($event)" class="form-control" FormControlName="hcv">
                <option>Selected Group</option>
                <option [value]="hcv"  *ngFor ="let hcv of Hcv">
                  {{hcv}}
                 </option>
              </select>
            </div>

            <div class="form-group col-md-12">
              <label for="Grouping">R.A. Factor </label>
              <select id="factor" class="form-control" (change)="ras($event)" FormControlName="ra">
                <option>???</option>
                <option [value]="ra"  *ngFor ="let ra of Ra">
                  {{ra}}
                </option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label for="Grouping">A.S.O Titre</label>
              <select id="aso" class="form-control" (change)="asos($event)" FormControlName="aso">
                <option>???</option>
                <option>???</option>
                <option>Select Group</option>
                <option [value]="strip" *ngFor ="let strip of ASO">
                     {{strip}}
                </option>
              </select>
            </div>

            <div class="form-group col-md-12">
              <label for="Grouping"> Normal Range < 200.00 IU/ML </label>
              <select id="normal" class="form-control"(change)="normalranges($event)" FormControlName="normalrange">
                <option>???</option>
                <option>???</option>
                <option>Select Group</option>
                <option [value]="strip" *ngFor ="let strip of Normal">
                  {{strip}}
                </option>
              </select>
            </div>
        </div>

        <div class="row">
          <label class="col-md-12"><u>Remark</u></label>
        </div>
        <mat-radio-group aria-label="Select an option" formControlName="remark">
          <mat-radio-button value="1">Positive</mat-radio-button>
          <mat-radio-button value="2">Negative</mat-radio-button>
</mat-radio-group>

<h6>(1) PI. Falciprum :-</h6>
<h6>(2) PI. Vivax :-</h6>

<div class="row">
<div class="form-group col-md-12 col-sm-12">
<label for="Grouping">(A) Serum for HIV Test 1/2 </label>
<select id="Serum" (change)="serums($event)" formControlName="serum" class="form-control">
  <option>Positive</option>
  <option>Negative</option>
</select>
</div>
</div>
<label for="Grouping">(B) C-Reactive Protein(CRP) </label>

<div class="row space">
<div class="col-md-6">
<label>Note</label>
</div>
<div class="col-md-6" style="text-align: right;">
<label>Examiner</label>
</div>
</div>
</div>

</div>
    </mat-tab>
    <div formGroupName="urine">
      <mat-tab  label="URINE">
          <div class="row">
            <h3 class="bloodgroup col-md-12">URINE</h3>
        <label class="col-md-12">PHYSSICAL EXAMINATION MICROSCOPICAL EXIMATION :-</label>
        <div class="form-group col-md-12 col-sm-12 col-xl-12">
          <label for="quentity" >Quantity :-</label>
          <select id="quentity" (change)="quantitys($event)" FormControlName="quentity" class="form-control">
           <option>Select Group</option>
            <option [value]="quentity" *ngFor ="let quentity of Quantits">
              {{quentity}}
            </option>
          </select>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xl-12">
          <label for="Specific" >Specific Gravity :-</label>
          <select id="grouping"(change)="specifics($event)" FormControlName="Specific" class="form-control">
           <option>Select Group</option>
            <option [value]="specific" *ngFor ="let specific of Specific">
              {{specific}}
            </option>
          </select>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xl-12">
          <label for="Specific" >Colour :-</label>
          <select id="grouping" (change)="colours($event)" FormControlName="Specific" class="form-control">
           <option>Select Group</option>
            <option [value]="colour" *ngFor ="let colour of Colours">
              {{colour}}
            </option>
          </select>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xl-12">
          <label for="Sediment">Sediment :- </label>
          <select id="Sediment"(change)="sediments($event)" FormControlName="sediment" class="form-control">
            <option>Select Group</option>
             <option [value]="sediment" *ngFor ="let sediment of Sediments">
               {{sediment}}
             </option>
           </select>
          </div>
          <div class="form-group col-md-12 col-sm-12 col-xl-12">
            <label for="Transparency">Transparency :- </label>
            <select id="Transparency" (change)="transparencys($event)" FormControlName="transparency" class="form-control">
              <option>Select Group</option>
               <option [value]="transparency" *ngFor ="let transparency of Transparency">
                 {{transparency}}
               </option>
             </select>
            </div>
            <label class="col-md-12">CHEMICAL EXAMINATION :-</label>
            <label class="col-md-12">R.B.C.:-</label>
            <label class="col-md-12">QUAKITATIVE:-</label>
            <div class="form-group col-md-12 col-sm-12 col-xl-12">
              <label for="reactions" >Reaction :-</label>
              <select id="reaction" (change)="reactions($event)" FormControlName="reaction" class="form-control">
               <option>Select Group</option>
                <option [value]="reaction" *ngFor ="let reaction of Reactions">
                  {{reaction}}
                </option>
              </select>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xl-12">
              <label for="albumin">Albumin :- </label>
              <select id="albumin" (change)="albumins($event)" FormControlName="albumin" class="form-control">
                <option>Select Group</option>
                 <option [value]="albumin" *ngFor ="let albumin of Albumin">
                   {{albumin}}
                 </option>
               </select>
              </div>
              <div class="form-group col-md-12 col-sm-12 col-xl-12">
                <label for="suger">Sugar :- </label>
                <select id="suger"(change)="sugers($event)"  FormControlName="suger" class="form-control">
                  <option>Select Group</option>
                   <option [value]="suger" *ngFor ="let suger of Suger">
                     {{suger}}
                   </option>
                 </select>
                </div>

              <div class="form-group col-md-12 col-sm-12 col-xl-12">
                <label for="acetone">Acetone :- </label>
                <select id="acetone"  FormControlName="acetone" class="form-control">
                  <option>Select Group</option>
                   <option [value]="transparency" *ngFor ="let acetone of Acetone">
                     {{acetone}}
                   </option>
                 </select>
                </div>

              <div class="form-group col-md-12 col-sm-12 col-xl-12">
                <label for="bilesalt">Bile Salt :- </label>
                <select id="bilesalt" (change)='bilesalts($event)'  FormControlName="bilesalt" class="form-control">
                  <option>Select Group</option>
                   <option [value]="bilesalt" *ngFor ="let bilesalt of BileSalt">
                     {{bilesalt}}
                   </option>
                 </select>
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xl-12">
                  <label for="bilepigment">Bile Pigment :- </label>
                  <select id="bilepigment" (change)="bilepigments($event)" FormControlName="bilepigment" class="form-control">
                    <option>Select Group</option>
                     <option [value]="bilepigment" *ngFor ="let bilepigment of BilePigment">
                       {{bilepigment}}
                     </option>
                   </select>
                  </div>

              <div class="form-group col-md-12 col-sm-12 col-xl-12">
                <label for="urobilnogen">Urobilnogen :- </label>
                <select id="urobilnogen" (change)="urobilnogens($event)" FormControlName="urobilnogen" class="form-control">
                  <option>Select Group</option>
                   <option [value]="urobilnogen" *ngFor ="let urobilnogen of Urobilnogen">
                     {{urobilnogen}}
                   </option>
                 </select>
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xl-12">
                  <label for="testedbyuristicmethod">Tested by Uristic Method :- </label>
                  <select id="testedbyuristicmethod" (change)="testedbyuristicmethods($event)" FormControlName="testedbyuristicmethod" class="form-control">
                    <option>Select Group</option>
                     <option [value]="testedbyuristicmethod" *ngFor ="let testedbyuristicmethod of TestedByUristicMethod">
                       {{testedbyuristicmethod}}
                     </option>
                   </select>
                  </div>

          </div>



      </mat-tab>
    </div>

    <mat-tab disabled label="WIDAL SLIDE TEST">WIDAL SLIDE TEST</mat-tab>
    <mat-tab disabled label="CULTURE AND SENSITIVITY">CULTURE AND SENSITIVITY</mat-tab>
  </mat-tab-group>


<div class="content">

  <button type="submit" mat-raised-button color="accent">Submit</button>
</div>
      </div>
          </form>


      </mat-card>

    </div>

</div></div>


