<div fxLayout="row" fxLayoutWrap="wrap" class="a">
  <!-- column -->
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <mat-card-content>
              <!-- Row -->
              <div fxLayout="row" fxLayoutWrap="wrap">
                  <!-- column --><div class="wrapper">
               <div class="inner"><mat-spinner *ngIf="isLooding"></mat-spinner></div></div>
                  <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" >
                      <div class="contains">
                          <div class="login-box">
                            <mat-card class="mat-elevation-z2" *ngIf='!isLooding' >
                              <div class="contains">
                                <h2 class="login animate__animated animate__fadeInDown" style="font-family:Snell Roundhand, cursive">JachGhar Registation or Login</h2>
                              </div>
                                      <mat-button-toggle-group appearance="legacy" class="btn-round ">
                                          <mat-button-toggle value="login" (click)="logins()" >LogIn
                                          </mat-button-toggle>
                                          <mat-button-toggle value="SignUp" (click)="signups()">SignUp
                                          </mat-button-toggle>
                                      </mat-button-toggle-group>
                                      <mat-card-content *ngIf="login">
                                                  <div class="row">
                                                      <!-- <mat-spinner *ngIf="isLooding"></mat-spinner> -->
                                                      <div class=" col-md-12 col-sm-12 col-md-offset-1">
                                                              <div fxFlex="center">
                                                              </div>
                                                              <form  (submit)="onLogin(loginForm)" *ngIf="!isLooding" #loginForm="ngForm" >
                                                                  <h2 class="login animate__animated animate__fadeInDown">Login</h2>
                                                                  <mat-form-field class="col-md-12 col-sm-12 col-md-offset-1">
                                                                      <input matInput type="email" name="email" ngModel #emailInput="ngModel" placeholder="E-mail" required email>
                                                                          <mat-error *ngIf="emailInput.invalid">Please Enter a Valid Email</mat-error>
                                                                  </mat-form-field>
                                                                  <mat-form-field class="col-md-12 col-sm-12 col-md-offset-1">
                                                                      <input matInput type="password" name="password" ngModel #passwordInput="ngModel" placeholder=" Enter your password " required>
                                                                       <mat-error *ngIf="passwordInput.invalid">Please Enter a content post</mat-error>
                                                                  </mat-form-field>
                                                                  <h5 class="animate__animated animate__fadeInDown" style="color: brown; font-size: 16px; font-family: Arial, Helvetica, sans-serif;text-align: left;margin-top: 20px;">Forgot Password</h5>

                                                                  <button mat-raised-button mat-fab class="btn btn-primary btn-round ss animate__animated animate__rotateIn" fxLayout="center center"
                                                                   *ngIf="!isLooding" type="submit()" >Submit</button>
                                                                  </form>
                                                                  <!-- <mat-spinner *ngIf="isLooding"></mat-spinner> -->
                                                      </div>
                                                  </div>
                                      </mat-card-content>
                                          <mat-card-content *ngIf="signup">
                                              <h2 class="login animate__animated animate__fadeInDown">SignUp</h2>
                                            <form (submit)="onSignup(signupForm)" class="form my-2 my-lg-0" #signupForm="ngForm">
                                              <mat-form-field class="col-md-12 col-sm-12 col-md-offset-1">
                                                <input type="text" placeholder="Username" name="fullName" ngModel #fullNameInput="ngModel" required matInput/>
                                              </mat-form-field>
                                              <mat-form-field class="col-md-12 col-sm-12 col-md-offset-1">
                                                  <input type="email"  placeholder="Your Email" name="email" ngModel #emailInput="ngModel" required matInput/>
                                                </mat-form-field>
                                              <mat-form-field class="col-md-12 col-sm-12 col-md-offset-1">
                                                <input type="password" placeholder="Password" name="password" ngModel #passwordInput="ngModel" required matInput/>
                                              </mat-form-field>
                                              <button mat-raised-button mat-fab class="btn btn-primary btn-round ss animate__animated animate__rotateIn"
                                               fxLayout="center center" *ngIf="!isLooding"  type="submit()" >Submit</button>
                                               <mat-spinner [color]="color" *ngIf="isLooding"></mat-spinner>
                                            </form>

                                          </mat-card-content>
                                        </mat-card>
                                        <!-- <mat-spinner *ngIf="isLooding"></mat-spinner> -->
                              </div>
                      </div>
                      <br/><br/>
                </div>
            </div>
        </mat-card-content>
  </div>
</div>
