
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button aria-hidden="false" mat-icon-button class="example-icon" (click)="toggleSidebar()"><mat-icon aria-hidden="false">menu</mat-icon></button>
      <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" >menu</mat-icon> -->
      <span>App Logo</span>

      <!-- <div fxFlex fxLayout="row" fxLayoutAlign="flex-end"> -->
        <!-- <ul> -->
        <!-- <li style="align-items: right; display: list-item;"> -->
<div class="a"style="position: absolute; right: 0;" >
  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>person_outline</mat-icon></button>
  <mat-menu #menu="matMenu">
    <input type="button" mat-menu-item ><mat-icon (click)="onLogOut()">exit_to_app</mat-icon>Sign out
  </mat-menu>
</div>
<!--
        </li>
      </ul> -->
      <!-- </div> -->
    </mat-toolbar-row>

<!--
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>

